**Write a program to predict the height and weight of a person.**

In [1]:
#importing necessary packages
import pandas as pd
import numpy as np

In [3]:
#Accessing the csv file using read_csv
df=pd.read_csv("weight-height.csv")
#To print the first five values in the dataset
df.head(5)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
#To pick randomly any five samples
df.sample(5)

      Gender     Height      Weight
2571    Male  70.171176  207.776547
7576  Female  61.350092  123.908500
3863    Male  72.657404  191.928823
4708    Male  68.066867  187.038345
6660  Female  64.704359  152.580009

In [5]:
# TO get the information regarding the data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [6]:
# To find out the number of null values in the each attribute of the dataframe
df.isna().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [7]:
#To Describe the statistics of that data frame 
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [8]:
# Converting the Gender column into number
df.columns

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [9]:
df['Gender'].replace('Female',0, inplace=True)
df['Gender'].replace('Male',1,inplace=True)

In [11]:
df.head(5)

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [13]:
# Defining the dataset into two variables X and Y
X=df[['Gender','Height']]
Y=df[['Weight']]

In [15]:
# Predicting Weight using Gender and Height
#Splitting the data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [16]:
from sklearn.linear_model import LinearRegression
lin_reg=LinearRegression()
lin_reg.fit(X_train,y_train)

LinearRegression()

In [20]:
# Predicting the weight for given Gender and Height
print("rsquared",lin_reg.score(X_test,y_test))

rsquared 0.9016197390324787

In [23]:
import numpy as np
from sklearn.metrics import mean_squared_error
y_pred=lin_reg.predict(X_test)
print(np.sqrt(mean_squared_error(y_pred,y_test)))

10.037069715780639